@use 'global' as *;
.about {
  padding-top: rem(45);
  padding-bottom: rem(83);
  
  @include mq('md') {
    padding-top: rem(100);
    padding-bottom: rem(138);
    position: relative;
  }
}

.about::before {
  @include mq('md') {
    position: absolute;
    display: inline-block;
    content: "";
    background: url(../images/sango.png) no-repeat center / cover;
    width: rem(194);
    height: rem(181);
    right: rem(83);
    bottom: rem(50);
    z-index: 1;
  }
}

.about__wrapper {
  margin-top: rem(27);

  @include mq('md') {
    margin-top: rem(38);
    position: relative;
  }
}

.about__thumb-wrapper {

}

.about__thumb1 {
  position: relative;
  width: calc((128 / 345) * 100%);
  z-index: 2;
}

.about__thumb1 img {
  aspect-ratio: 128/194;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__thumb2 {
  margin-left: auto;
  margin-top: -48.5%;
  width: calc((281 / 345) * 100%);
  z-index: 1;
  
}

.about__thumb2 img {
  aspect-ratio: 281/186;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__content {
  margin-top: rem(40);

  @include mq('md') {
    display: flex;
    gap: rem(40);
    position: absolute;
    left: rem(199);
    top: rem(200);
    z-index: 3;
    margin-top: rem(3);
  }
}

.about__head {
  @include mq('md') {
    width: calc((400 / 840) * 100%);
    flex: 1;
  }
}

.about__sub-title {
  font-family: $font-gotu;
  font-weight: $normal;
  font-size: rem(40);
  line-height: 1;
  color: $color-accent;

  @include mq('md') {
    font-size: rem(80);
    line-height: calc(100/80);
    color: $white;
  }
}

.about__body {
  margin-top: rem(16);

  @include mq('md') {
    margin-top: 0;
    margin-right: rem(41);
    width: calc((400 / 840) * 100%);
    flex: 1;
  }
}

.about__text {
  font-weight: $normal;
  font-size: rem(16);
  line-height: calc(24/16);
  color: $color-main;

  @include mq('md') {
    color: $white;
  }
}

.about__btn {
  margin-top: rem(40);
  text-align: center;
}
