@use 'global' as *;
.campaign {
  overflow: hidden;
}


.campaign__btn {
  text-align: center;
  margin-top: rem(35);

  @include mq('md') {
    margin-top: rem(75);
  }
}


// swiper

.campaign__swiper-box {

  @include mq('md') {
    margin-left: rem(5);
    position: relative;
  }
}

.campaign__swiper {
  margin-top: rem(27);
  margin-right: calc(50% - 50vw);
  padding-bottom: rem(5);
  padding-left: rem(2);
  height: auto;

  @include mq('md') {
    margin-top: rem(40);
    margin-left: rem(-6);
  }
}

.campaign__swiper-slide {
  height: auto;
}


.campaign__swiper-around {
  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(100);
    // height: rem(80);
    position: absolute;
    top: rem(-78);
    right: rem(-10);
   
  }
}

.campaign__prev,
.campaign__next {
  @include mq('md') {
    width: rem(80);
    height: rem(80);
    display: inline-block;
    border-radius: rem(100);
    border: 1px solid $color-accent;
    position: relative;
    background-color: $white;
  }
}



.campaign__prev::before,
.campaign__next::before {
  @include mq('md') {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: rem(40);
    height: rem(8);
  }
}

.campaign__prev::before {
  @include mq('md') {
    background: url(../images/common/icon-arrow_left-green.svg) no-repeat center center / cover;
  }
}

.campaign__next::before {
  @include mq('md') {
    background: url(../images/common/icon-arrow_right-green.svg) no-repeat center center / cover;
  }
}

