@use 'global' as *;
.campaign {
  padding-top: rem(40);
  padding-bottom: rem(40);
  overflow-x: hidden;

  @include mq('md') {
    padding-top: rem(120);
    padding-bottom: rem(45);
  }
}

.campaign-card {
  display: block;
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 0.25);
  height: 100%;
}

.campaign-card__content {
  // display: block;
}

.campaign-card__thumb img {
  aspect-ratio: 280/188;
  object-fit: cover;

  @include mq('md') {
    aspect-ratio: 333/223;
  }
}


.campaign-card__body {
  padding: rem(16) rem(16) rem(24);
  
  @include mq('md') {
    padding: rem(24) rem(16) rem(40);
  }
}

.campaign-card__category {
  padding: rem(3) rem(11);
  font-weight: $normal;
  font-size: rem(12);
  line-height: calc(22/12);
  background-color: $white;
  color: $color-accent;
  border: 1px solid $color-accent;
  display: inline-block;

  @include mq('md') {
    padding: rem(5) rem(15);
  }

}

.campaign-card__title {
  font-weight: $regular;
  color: $color-main;
  font-size: rem(16);
  line-height: calc(24/16);
  margin-top: rem(4);
  padding-bottom: rem(8);
  border-bottom: 1px solid $color-accent;
}

.campaign-card__text {
  margin-top: rem(8);
  color: $color-main;
  text-align: center;
  font-weight: $normal;
  font-size: rem(14);
  line-height: calc(24/14);

  @include mq('md') {
    font-size: rem(16);
    line-height: calc(24/16);
    margin-top: rem(16);
    padding-right: rem(12);
  }
}

.campaign-card__discount {
  margin-top: rem(8);
  text-align: center;
  font-family: $font-lato;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.campaign-card__discount-before {
  color: $color-main;
  font-weight: $bold;
  font-size: rem(20);
  margin-right: rem(16);
  position: relative;
  display: inline-block;

  @include mq('md') {
    font-size: rem(24);
    margin-right: rem(24);
  }
}
.campaign-card__discount-before span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: rem(3);
  background-color: #C94800;
}

.campaign-card__discount-after {
  color: $color-accent;
  font-weight: $bold;
  font-size: rem(32);
  display: inline-block;

  @include mq('md') {
    font-size: rem(40);
  }
}

.campaign__btn {
  text-align: center;
  margin-top: rem(35);

  @include mq('md') {
    margin-top: rem(75);
  }
}


// swiper

.campaign__swiper-box {

  @include mq('md') {
    position: relative;
    margin-left: rem(5);
  }
}

.campaign__swiper {
  margin-top: rem(27);
  margin-right: calc(100% - 100vw);
  height: 100%;
  padding-bottom: rem(5);
  padding-left: rem(2);

  @include mq('md') {
    margin-top: rem(40);
    margin-left: rem(-6);
  }
}

.swiper-button-box {
  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(100);
    position: absolute;
    top: rem(-85);
    right: rem(-10);
  }
}

.campaign__prev,
.campaign__next {
  @include mq('md') {
    width: rem(80);
    height: rem(80);
    display: inline-block;
    border-radius: rem(100);
    border: 1px solid $color-accent;
    position: relative;
    background-color: $white;
  }
}



.campaign__prev::before,
.campaign__next::before {
  @include mq('md') {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: rem(40);
    height: rem(8);
  }
}

.campaign__prev::before {
  @include mq('md') {
    background: url(../images/icon-arrow_left-green.svg) no-repeat center center / cover;
  }
}

.campaign__next::before {
  @include mq('md') {
    background: url(../images/icon-arrow_right-green.svg) no-repeat center center / cover;
  }
}

