@use 'global' as *;
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);

  @include mq('md') {
    gap: rem(80) rem(40);
  }
}

.cards.cards--col2 {
  @include mq('md') { 
    grid-template-columns: repeat(2, 1fr);
  }
}

.cards.cards--col3 {
  @include mq('md') { 
    grid-template-columns: repeat(3, 1fr);
  }
}