@use 'global' as *;
.card {
  display: block;
  padding: rem(16) rem(16) rem(24);
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 0.25);
}

.card__thumb img {
  aspect-ratio: 301/201;
  object-fit: cover;
}

.card__body {
  margin-top: rem(24);
}

.card__date {
  font-family: $font-gotu;
  font-weight: $normal;
  font-size: rem(12);
  line-height: calc(18/12);
  color: $color-main;
}

.card__title {
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(24/16);
  color: $color-main;
  padding-bottom: rem(4);
  border-bottom: 1px solid $color-accent;
  width: 100%;
}

.card__text {
  font-weight: $normal;
  font-size: rem(16);
  line-height: calc(24/16);
  color: $color-main;
  margin-top: rem(16);
}

