@use 'global' as *;

.contact {
  margin-top: rem(80);
  padding-bottom: rem(102);

  @include mq('md') {
    margin-top: rem(140);
    padding-bottom: rem(160);
  }
}

.contact__inner {
  position: relative;
}

.contact__inner::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url(../images/common/fish.png) no-repeat center / cover;
  top: rem(-25);
  right: rem(15);
  width: rem(109);
  height: rem(50);

  @include mq('md') {
    top: rem(-40);
    right: calc(50% - min(50vw , rem(670)));
    // right: calc(clamp(0px ,50vw, rem(-130)));
    width: rem(301);
    height: rem(138);
  }
}


.contact__wrapper {
  // position: relative;

  @include mq('md') {
    margin: 0 auto;
    max-width: rem(1080);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: rem(4) rem(4) rem(10) rgba($color: #000000, $alpha: 0.25);
    padding: rem(80) rem(112) rem(80) rem(50);
  }
}




.contact__logo {
  display: block;
  padding-bottom: rem(6);
  border-bottom: 1px solid $color-accent
}

.contact__logo img {
  margin: 0 auto;
  width: rem(174);
  
  @include mq('md') {
    width: rem(200);
  }
}

.contact__info-wrapper {
  padding-right: rem(25);
  padding-left: rem(25);

  @include mq('md') {
    // width: calc((522 / 1080) * 100%);
    padding-right: rem(82);
    padding-left: 0;
    border-right: 1px solid $color-accent;
    display: flex;
    flex-direction: column;
  }
}

.contact__info {
  color: $color-main;
  text-align: center;
  font-weight: $normal;
  font-size: rem(16);
  line-height: calc(24/16);
  margin-top: rem(16);

  @include mq('md') {
    display: flex;
    gap: rem(21);
    text-align: left;
    margin-top: rem(24);
    padding-right: 0;
    padding-left: 0;
  }
}

.contact__info-detail {
  @include mq('md') {
    // flex: 0;
  }
}

.contact__address {
  font-style:normal;

  @include mq('md') {
    margin-top: 0;
  }
}
.contact__address span {
  display: block;
}


.contact__address span:nth-child(2) {
  display: inline-block;
  margin-top: rem(4);
}

.contact__time {
  margin-top: rem(4);
}

.contact__holiday {
  margin-top: rem(4);
}



.contact__map {
  margin-top: rem(16);
  position: relative;
  aspect-ratio: 295/160;
  object-fit: cover;

  @include mq('md') {
    aspect-ratio: 273/148;
    margin-top: 0;
    flex: 1;
  }
}


.contact__map iframe {
  width: 100%;
  height: 100%;  
}

.contact__area {
  margin-top: rem(35);
  text-align: center;

  @include mq('md') {
    // width: calc((396 / 1080) * 100%);
    margin-top: rem(20);
    padding-left: rem(81);
    // flex: 1;
  }
}

.contact__title {
}

.contact__text {
  margin-top: rem(8);
  font-weight: $normal;
  font-size: rem(14);
  color: $color-accent;
}

.contact__btn {
  margin-top: rem(40);
}
