@use 'global' as *;
.contact-table {
  // margin: 0 auto;
  width: 100%;
}
.contact-table tbody {
  width: 100%;
}

.contact-table__required {
  font-weight: $normal;
  color: $white;
  background-color: #C94800;
  font-size: rem(12);
  letter-spacing: 0.4em;
  padding: rem(2) rem(14);
  margin-left: rem(8);
  display: inline-block;
}

.contact-table__row {
  display: flex;
  flex-direction: column;
  padding: rem(20) 0;
  border-bottom: 1px dotted $color-accent;
  width: 100%;

  @include mq('md') {
    flex-direction: row;
    padding: rem(37) 0;
  }
}

.contact-table__row th {
  font-size: rem(16);
  color: $color-main;
  font-weight: $bold;
  text-align: left;

  @include mq('md') {
    width: rem(220);
  }
}

.contact-table__row td {
  width: 100%;
  margin-top: rem(16);

  @include mq('md') {
    width: calc(100% - rem(220));
    margin-top: 0;
  }
}



// inputの余白
.contact-table__row input,
.contact-table__row textarea,
.contact-table__row select {
  display: inline-block;
  padding: rem(8) rem(16);
  border: 1px solid $color-accent;
  width: 100%;
}

.contact-table__row textarea {
  min-height: rem(200);
}

.contact-table__check label {
  box-sizing: border-box; /* padding や border も要素の幅に含める */
  display: flex;
  align-items: center;
  white-space: nowrap;
}

// radio,checkbox　デフォルトを非表示
input[type="checkbox"] {
  display: none;
}

// radio,checkbox　カスタマイズクリック範囲
input[type="checkbox"]+span {
  display: block;
  position: relative;
  padding: rem(2) 0 rem(3) rem(22);
  cursor: pointer;
  // font-size: rem(16);
}

input[type="checkbox"]+.page-contact__agree-btn {
  padding: rem(2) 0 rem(3) rem(30);
  @include mq('md') {
    padding: rem(2) 0 rem(3) rem(38);
    
  }
}


// =====================
// チェックボックス
// =====================
.contact-table__check {
  display: flex;
  flex-direction: column;
}
// チェックボックスのスタイル
input[type="checkbox"]+span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(14);
  height: rem(14);
  border: rem(1) solid $color-accent;
  background: $white;
}
// agree-btn
.page-contact__agree input[type=checkbox] + span::before {
  content: "";
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 0;
  width: rem(22);
  height: rem(22);
  border: rem(1) solid $color-accent;
  background: $white;
  margin-right: rem(8);
  
  @include mq('md') {
    margin-right: rem(16);
    top: 25%;
    transform: translateY(-25%);
  }
}

.page-contact__agree input[type=checkbox] + span {
  padding: rem(2) 0 rem(2) rem(30);
}

// チェックボックスのチェック印(選択前)
input[type="checkbox"]+span::after {

  opacity: 0;
  content: "";
}

// チェックボックスのチェック印(選択後)
input[type="checkbox"]:checked+span::after {
  // display: block;
  opacity: 1;
  position: absolute;
  top: rem(9);
  left: rem(5);
  width: rem(5);
  height: rem(9);
  content: "";
  border-bottom: rem(2) solid #C94800;
  border-right: rem(2) solid #C94800;
  transform: rotate(45deg);
}
.page-contact__agree input[type=checkbox]:checked + span::after {
  top: rem(5);
  left: rem(6);
  width: rem(8);
  height: rem(12);

  @include mq('md') {
    top: rem(3);
    left: rem(7);
    width: rem(8);
    height: rem(12);
  }
}

// mw wp form checkbox
.mwform-checkbox-field {
  // display: inline-block;
}
.horizontal-item {
  display: inline-block;
}

.mw_wp_form .horizontal-item + .horizontal-item {
  margin-left: 0;
}

// =====================
// セレクトボックス
// =====================
select {
  appearance: none;
  width: 100%;
}

.form__row select {
  font-size: rem(12);
  line-height: 1;
}

.page-contact__select-wrap {
  position: relative;
}


.page-contact__select-wrap select {
  padding: rem(12) rem(8);

  @include mq('md') { 
    padding: rem(10) rem(8) rem(10);
  }
}
.page-contact__select-wrap option {
  line-height: 1.5;
}

.page-contact__select-wrap::after {
  position: absolute;
  right: rem(8);
  top: 25%;
  width: rem(12);
  height: rem(12);
  content: url(../images/common/icon_contact.svg);
  display: block;

  @include mq('md') {
    right: rem(16);
    top: 25%;
    transform: translateY(-25%);
  }
}

// 同意
.page-contact__agree label {
  display: inherit;
}

// =====================
// フォーカス時
// =====================
/* フォーカス時に発光するスタイル */
input:focus,
textarea:focus,
select:focus {
  outline: none; /* デフォルトのフォーカスアウトラインを非表示にする */
  box-shadow: 0 0 2px 2px $color-accent; /* 発光する色を設定 */
}

input[type="checkbox"]:focus+span::before {
  outline: none; /* デフォルトのフォーカスアウトラインを非表示にする */
  box-shadow: 0 0 2px 2px $color-accent; /* 発光する色を設定 */
}



// =====================
// エラー時
// =====================
.form__error {
  font-size: rem(14);
  text-align: center;
  color: #C94800;
  display: none;
}

.form__body.error {
  outline: 1px solid #C94800;
  background-color: #F4DACC;
  color: $white;
}

/* エラー時のborderを消すスタイル */
.form__body.error .form__row input,
.form__body.error textarea {
  border: none;
}


.form__body.error .form__select-wrap {
  border: none;
}

.form__body.error::placeholder {
  color: $white;
}