@use 'global' as *;
.fv {
  width: 100%;
  height: 100vh;
}

.fv-swiper {
  height: inherit;
}

.swiper-wrapper {
  height: inherit;
}

.fv-swiper__wraapper {
  height: inherit;
}

.fv-swiper__slide {
  position: relative;
  height: inherit;
}

.fv-swiper__slide img {
  aspect-ratio: 375/667;
  object-fit: cover;
  width: 100%;
  height: inherit;

  @include mq('md') {
    aspect-ratio: 1440/768;
  }
}

.fv-swiper__text {
  color: $white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-18%);
}

.fv-swiper__text-main {
  font-family: $font-lato;
  font-weight: $normal;
  font-size: rem(40);
  line-height: calc(48/40);
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  display: block;

  @include mq('md') {
    font-size: rem(80);
    line-height: calc(100/80);
  }
}

.fv-swiper__text-sub {
  display: block;
  font-family: $font-gotu;
  font-weight: $normal;
  font-size: rem(20);
  line-height: calc(33.2/20);
  letter-spacing: normal;
}
