@use 'global' as *;
@use 'global' as *;
.page-voice {
  position: relative;
}

.page-voice::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url(../images/common/fish_right-sp.png) no-repeat center / cover;
  width: rem(120);
  height: rem(55);
  top: rem(-22);
  left: calc(50% - 46vw);
  z-index: -1;
  
  @include mq('md') {
    background: url(../images/common/fish_right.png) no-repeat center / cover;
    top: rem(-69);
    left: calc(50% - min(49vw , rem(617)));
    width: rem(301);
    height: rem(138);
  }
}

.page-voice__content {
  margin-top: rem(40);
}


.page-voice__pagination {
  margin-top: rem(80);

  @include mq('md') {
    margin-top: rem(70);
  }
}