@use 'global' as *;
.page-terms {
  position: relative;
}

.page-terms::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url(../images/common/fish_right-sp.png) no-repeat center / cover;
  width: rem(120);
  height: rem(55);
  top: rem(-20);
  left: calc(50% - 46vw);
  z-index: -1;

  @include mq('md') {
    background: url(../images/common/fish_right.png) no-repeat center / cover;
    top: rem(-70);
    left: calc(50% - min(49vw , rem(617)));
    width: rem(301);
    height: rem(138);
  }
}


.page-terms__inner {
  display: flex;
  justify-content: center;
}

.page-terms__title {
  font-size: rem(24);
  font-weight: $regular;
  color: $color-main;

  @include mq('md') {
    font-size: rem(32);
  }
}

.page-terms__content {
  width: 100%;
  font-size: rem(16);
  color: $color-main;
  font-weight: $normal;
  line-height: 2;

  @include mq('md') {
    max-width: rem(800);
    width: 100%;
  }
}

.page-terms__text {
  margin-top: rem(40);
  
}

.page-terms__text--first{
  margin-top: rem(30);
}

.page-terms__items {
  margin-top: rem(35);
  padding-left: 1em;
  list-style: decimal;

  @include mq('md') {
    margin-top: rem(35);
  }
}

.page-terms__items--mt0 {
  margin-top: 0;
}

.page-terms__item {

}

