@use 'global' as *;
.section-title {
  font-family: $font-gotu;
  font-weight: $normal;
  font-size: rem(32);
  line-height: calc(40/32);
  text-align: center;
  color: $color-main;
  text-shadow: (0 rem(4) rem(4) rgba($color: #000000, $alpha: 0.25));

  @include mq('md') {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title::first-letter {
  color: $color-accent;
}

.section-title::after {
  content: attr(data-ja);
  display: block;
  font-family: $font-main;
  font-size: rem(12);
  line-height: calc(18/12);
  color: $color-accent;
  margin-top: rem(4);
  text-shadow: none;

  @include mq('md') {
    margin-top: rem(8);
  }
}