@use 'global' as *;
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title__main {
  font-family: $font-main;
  font-weight: $normal;
  font-size: rem(12);
  line-height: calc(18/12);
  color: $color-accent;
  margin-top: rem(4);

  @include mq('md') {
    margin-top: rem(8);
  }
}

.section-title__sub {
  font-family: $font-gotu;
  font-weight: $normal;
  font-size: rem(32);
  line-height: calc(40/32);
  color: $color-main;

  @include mq('md') {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__sub::first-letter {
  color: $color-accent;
}


// カラーのモディファイア
.section-title__main--white {
  @include mq('md') {
    color: $white;
  }
}

.section-title__sub--white {
  @include mq('md') {
    color: $white;
  }
}

.section-title__sub--white.section-title__sub::first-letter {
  @include mq('md') {
    color: $white;
  }
}


// フォントサイズのモディファイア
.section-title__sub--lg {
  font-size: rem(80);
  line-height: 1;

  @include mq('md') {
    font-size: rem(80);
    line-height: 1;
    // margin-top: rem(-8);
  }
}

.section-title__main--mt {
  margin-top: rem(-8);

  @include mq('md') {
    margin-top: rem(-8);
  }
}

