@use 'global' as *;
.section-title {
  font-family: $font-gotu;
  font-weight: $normal;
  font-size: rem(32);
  line-height: calc(40/32);
  text-align: center;
  color: $color-main;

  @include mq('md') {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title::first-letter {
  color: $color-accent;
}

.section-title::after {
  content: attr(data-ja);
  display: block;
  font-family: $font-main;
  font-size: rem(12);
  line-height: calc(18/12);
  color: $color-accent;
  margin-top: rem(4);
  text-align: center;

  @include mq('md') {
    margin-top: rem(8);
  }
}

.section-title--white {
  color: $white;
}

.section-title--white::first-letter {
  color: $white;
}

.section-title--white::after {
  color: $white;
}

.section-title--lg {
  font-size: rem(80);
  line-height: 1;
  
  @include mq('md') {
    font-size: rem(80);
    line-height: 1;
  }
}

.section-title--lg::after {
  margin-top: rem(-8);
  
  @include mq('md') {
    margin-top: rem(-8);
  }
}