@use 'global' as *;
.sidebar {

}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// 人気記事
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__articles-items {
  margin-top: rem(24);
}

.sidebar__articles-item + .sidebar__articles-item {
  margin-top: rem(24);
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// 口コミ
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__repeat {

}

.sidebar__repeat-img {
  aspect-ratio: 294/218;
  margin-top: rem(24);
}
.sidebar__repeat-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__repeat-body {
  color: $color-main;
  margin-top: rem(16);
}

.sidebar__repeat-meta {

}

.sidebar__repeat-age {
  font-size: rem(12);
  line-height: calc(18/12);
}

.sidebar__repeat-title {
  font-size: rem(24);
  line-height: 1.5;
  margin-top: rem(8);
}

.sidebar__repeat-btn {
  text-align: center;
  margin-top: rem(40);
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// キャンペーン
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__campaign-cards {
  margin-top: rem(40);
}

.sidebar__campaign-card + .sidebar__campaign-card {
  margin-top: rem(40);
}


.sidebar__campaign-btn {
  text-align: center;
  margin-top: rem(40);
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// アーカイブ
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__archive {

}

.sidebar__archive-content {
  margin-top: rem(24);
  color: $color-accent;
  font-size: rem(24);
}

.sidebar__archive-content details ul {
  padding-left: rem(32);
}

.sidebar__archive-content details ul li {
  text-indent: 1em;
  display: block;
  margin-top: rem(4);
}
.sidebar__archive-content details:not(:first-child) {
  margin-top: rem(4);
}

.sidebar__archive-content details summary {
  display: block;
  padding-left: rem(32);
}

.sidebar__archive-content details summary,
.sidebar__archive-content ul li {
  position: relative;
}

.sidebar__archive-content details ul li::before  {
  text-indent: 1em;
}

.sidebar__archive-content details summary span::before,
.sidebar__archive-content details ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 20.8px;
  border-color: transparent transparent transparent #408f95;
}

/* 閉じる際の animation */
@keyframes close {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

details[open] summary span::before {
  /* animation で開く際のアニメーションを設定 */
  animation: open 0.2s ease-in forwards;
}
 
/* 開く際の animation */
@keyframes open {
  0% {
    transform: rotate(0deg);
    transform: translateY(-24px);
  }

  100% {
    transform: rotate(90deg) ;
  }
}

.sidebar__archive-content details summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}