@use 'global' as *;
.sidebar {

}
.sidebar__inner {
  margin-right: rem(20);
  margin-left: rem(20);
  @include mq('md') {
    margin-right: 0;
    margin-left: 0;
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// 人気記事
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__articles-items {
  margin-top: rem(24);
}

.sidebar__articles-item + .sidebar__articles-item {
  margin-top: rem(24);
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// 口コミ
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__repeat {

}

.sidebar__repeat-img {
  aspect-ratio: 294/218;
  margin-top: rem(24);
}
.sidebar__repeat-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__repeat-body {
  color: $color-main;
  margin-top: rem(16);
}

.sidebar__repeat-meta {

}

.sidebar__repeat-age {
  font-size: rem(12);
  line-height: calc(18/12);
}

.sidebar__repeat-title {
  font-size: rem(24);
  line-height: 1.5;
  margin-top: rem(8);
}

.sidebar__repeat-btn {
  text-align: center;
  margin-top: rem(40);
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// キャンペーン
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__campaign-cards {
  margin-top: rem(40);
}
.sidebar__campaign-cards--sidebar {
  margin-top: rem(30);
}

.sidebar__campaign-card + .sidebar__campaign-card {
  margin-top: rem(40);
}


.sidebar__campaign-btn {
  text-align: center;
  margin-top: rem(40);
}

// ＝＝＝＝＝＝＝＝＝＝＝＝
// アーカイブ
// ＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar__archive {

}

.sidebar__archive-content {
  margin-top: rem(24);
  color: $color-accent;
  font-size: rem(24);
}

.sidebar__archive-content details ul {
  // padding-left: rem(32);
}

.sidebar__archive-content details ul li {
  text-indent: 1em;
  display: block;
  margin-top: rem(4);
}
.sidebar__archive-content details:not(:first-child) {
  margin-top: rem(4);
}

.sidebar__archive-content details summary {
  display: block;
  // padding-left: rem(32);
}

.sidebar__archive-content details summary span,
.sidebar__archive-content ul li a span {
  position: relative;
  padding-left: rem(32);
}

.sidebar__archive-content details summary span::before,
.sidebar__archive-content ul li a span::before {
  position: absolute;
  content: "";
  left: 0;
  top: 25%;
  // transform: translateY(-50%);
  width: rem(22);
  height: rem(22);
  display: inline-block;
  background: url(../images/common/icon_sankaku.svg) no-repeat center / contain;
  transition: .3s;
}

.sidebar__archive-content details[open] summary span::before {
  /* アイコンを90度回転 */
  transform: rotate(90deg);
}
.sidebar__archive-content details summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}