@use 'global' as *;
.sidebar-title {
  padding-left: rem(24);
  display: flex;
  align-items: center;
  border-left: rem(8) solid $color-accent;
  position: relative;
}

.sidebar-title h4 {
  font-size: rem(24);
  font-weight: $normal;
  line-height: calc(50/24);
  margin-left: rem(13);
}

.sidebar-title img {
  width: rem(50);
  height: rem(50);
}