@use 'global' as *;
.sub-fv {
  width: 100vw;
  height: rem(460);
  position: relative;

  @include mq('md') {
    height: rem(548);
  }
}

.sub-fv__bg {
  position: relative;
  width: 100%;
  height: inherit;
}

.sub-fv__bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #408F95;
  opacity: 0.3;
}

.sub-fv__bg picture {
  aspect-ratio: 375/460;

  @include mq('md') {
    aspect-ratio: 1440/548;
  }
}

.sub-fv__bg picture source,
.sub-fv__bg picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sub-fv__text {
  font-family: $font-lato;
  font-weight: normal;
  font-size: rem(40);
  line-height: 1;
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq('md') {
    font-size: rem(80);
    top: rem(324);
  }
}

