@use 'global' as *;
.voice-cards {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: rem(37);


  @include mq('md') { 
    grid-template-columns: repeat(2, 1fr);
  }
}

.voice-cards--gap {
  gap: rem(39);

  @include mq('md') {
    gap: rem(80) rem(40);
  }
}